<!DOCTYPE = <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Biashara | Sign-up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='signup.css')}}"/>
    <style>
        #login{
            background-color: gray;
            color: black;
            width: 60%;
            text-align: center;
            opacity: 10%;
            vertical-align: middle;
            margin: auto;
            position: relative;
            z-index: 100;
        }
        #wrongPass{
            color: red;
            font-style: italic;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('home')}}">Biashara</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <p id="wrongPass">{{wrongPass}}</p>
            
            <button class="btn btn-outline-success my-2 my-sm-0" data-target="#login" data-toggle="collapse">Log in</button>
        </nav>
    </div>
    <div class="bigdiv">
    <div class="middiv">
    <div class="maindiv">
    <h1>Sign up</h1>
    <form action="/sign_up" method="POST">
        <div class="form-group row">
            <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="first_name" placeholder="first_name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="second_name" class="col-sm-2 col-form-label">Second Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="middle_name" placeholder="middle_name">
            </div>
        </div>
        <div class="form-group row">
            <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="last_name" placeholder="last_name" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" name="email" placeholder="email" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="Username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="username" placeholder="username" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" name="password" placeholder="password" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="password2" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-9">    
                <input type="password" class="form-control" name="password2" placeholder="confirm password" required>
            </div>
        </div>
        <button id="signup" class="btn btn-primary" type="submit">Sign Up</button>
    </form>
    
    {%if request.form['password'] != request.form['password2']%}
    <p class="alert alert-warning" role="alert">Passwords do not match!</p>
    {%endif%}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="alert alert-info">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    </div></div></div>

    <div id="login" class="collapse">
        <h2>User Login</h2>
        <p>Please enter your username and password</p>
        <form id="Login" action="/login" method="POST">
    
            <div class="form-group">
    
                <input type="username" class="form-control" name="username" placeholder="Username">
    
            </div>
    
            <div class="form-group">
    
                <input type="password" class="form-control" name="password" placeholder="Password">
    
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
    
        </form>
    </div>
</body>
</html>