<!DOCTYPE = <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Biashara | Sign-up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="main.js"></script>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/sign_up" method="POST">
        <p><input type="first_name" name="first_name" placeholder="first_name"></p>
        <p><input type="middle_name" name="middle_name" placeholder="middle_name"></p>
        <p><input type="last_name" name="last_name" placeholder="last_name"></p>
        <p><input type="email" name="email" placeholder="email"></p>
        <p><input type="username" name="username" placeholder="username"></p>
        <p><input type="password" name="password" placeholder="password"></p>
        <p><input type="password" name="password2" placeholder="confirm password"></p>
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
    {%if request.form['password'] != request.form['password2']%}
    <p class="alert alert-warning" role="alert">Passwords do not match!</p>
    {%endif%}
</body>
</html>